<% include head %>
  <script type="text/javascript" src="/javascripts/login.js"></script>
  <div class="ui middle aligned center aligned grid login">
    <div class="column">
      <div class="ui centered card">
          <form class="ui large form" >
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="phone_number" placeholder="手机号">
                </div>
              </div>
              <button class="ui fluid large teal submit button"  type="submit">Login</button>
            </div>        
          </form>
      </div>
    </div>
  </div>
<% include foot %>

